<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NumberWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB92B9411BB2B4F100B9C1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB92B95A1BB2B4F100B9C1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB92B9651BB2B4F100B9C1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB92B97B1BB2B5FD00B9C1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
